body{
    background-image: url(../assets/bank1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.title{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.mainer{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    
}
.intro{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
#logo{
    margin-top: 40px;
    border-radius: 50%;
}
form{
    padding-top: 30px;
}
label{
    color: white;
}
.h3{
    color: white;
}
.info{
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    
}
.info label{
    color: black;
    
}
